* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 'Poppins', 'sans-serif';
    background-color: #030303;
}
main {
    background-color: #28112B;
}
/* Estilos para el Banner */
#hero {
    width: 100%;
    height: 700px;
    background-image: url(../imagenes/portadaResident.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    overflow: hidden;
}
#hero h1{
    font-size: 50px;
    margin-top: 180px;
    color: white;
    padding: 20px;
    text-align: justify;
    margin-left: 110px;
    margin: 40px;
}
#hero a{
    position: static;
    padding: 10px 24px;
    gap: 20px;
    width: 100%;
    height: 60px;
    background: #8F00FF;
    border-radius: 50px;
    margin: 55px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #FCFCFF;
}
/* Estilos para sección 1 */
#categoriasHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-top: 100px;
    margin: 30px;
}
#categoriasHome h2{
    color: #FCFCFF;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    width: 400px;
}
.contenedor-categorias{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
    padding: 0px 100px;
}
.categoria1{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 900px;
    background-image: url(../imagenes/Spyro_-_Year_of_the_Dragon_-_Portada.webp);
    background-size: cover;
}
.categoria1 h3{
    color:white;
    background-color: #030303;
}
.categoria2{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 900px;
    background-image: url(../imagenes/resident.jpg);
    background-size: cover;
}
.categoria2 h3{
    color:white;
    background-color: #030303;
}
.categoria3{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 900px;
    background-image: url(../imagenes/dinocrisis.webp);
    background-size: cover;
}
.categoria3 h3{
    color:white;
    background-color: #030303;
}
.categoria4{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 900px;
    background-image: url(../imagenes/sonic.jpeg);
}
.categoria4 h3{
    color:white;
    background-color: #030303;
}
.separador {
    height: 70px;
    background-color: #030303;
}
.neontext {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 48px/normal "Poppins", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.neontext:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
/* Estilos para sección 2 */
#guiaVideojuegos{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#guiaVideojuegos .contenedor-texto {
    width: 80%;
}
#guiaVideojuegos .contenedor-imagen {
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}
#guiaVideojuegos .contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #28112B;
    margin-top: 20px;
}
#guiaVideojuegos .contenedor-texto h3 {
    color:white;
    background-color: #28112B;
    text-align: left;
}
#guiaVideojuegos .contenedor-texto p {
    color:white;
    margin-top: 20px 
}
.imagen-responsiva {
    max-width: 100%;
    height: auto;
}
#juegosRecomendados {
    margin-left: 120px;
    text-align: center;
    margin: 60px;
}
/* Estilos para sección 3 */
#juegosRecomendados .item {
    background-color: #2b072b !important;
    border: 1px solid #8F00FF;
    border-radius: 12px;
    box-shadow: 0px 4px 24px rgba(0, 51, 153, 0.16);
    border-radius: 16px;
    filter: drop-shadow(0px 4px 24px rgba(0, 51, 153, 0.16));
    background-blend-mode: multiply;
}
#juegosRecomendados .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
   /* Se crean 6 columnas de igual ancho */
    gap: 20px;
   /* Espacio entre las celdas */
    padding: 50px;
}
#juegosRecomendados h2 {
    color: white;
}
#JuegosRecomendados .item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
#JuegosRecomendados .item img {
    width: 100%;
    height: auto;
}
.item img {
    width: 250px !important;
    height: 250px !important;
    object-fit: cover;
}
.item:hover {
    background-color: #f0f0f0;
   /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.1);
   /* Aumenta ligeramente el tamaño de la tarjeta al pasar el mouse */
    transition: transform 0.2s ease;
   /* Agrega una transición suave al efecto de escala */
}
/* Estilos para sección 4 */
#juegosOnline{
    margin-left: 120px;
    text-align: center;
    margin: 90px;
    left: 500px;
}
.corazoncito {
    position: relative;
    left: -60px;
   /* Ajusta la posición horizontal */
    z-index: 1;
   /* Asegura que el icono esté sobre la imagen */
    margin-bottom: -50px;
}
.corazoncito svg {
    width: 60px;
   /* Ajusta el ancho del SVG */
    height: 60px;
   /* Ajusta la altura del SVG */
}
.item p {
    color: white;
}
#juegosOnline h2{
    margin-top: -70px;
    text-align: center;
    color: #fff;
}
#juegosOnline .bloquesOnline{
    position: relative;
    width: 500px;
    height: 600px;
    top: 70px;
}
.caja1 {
    top: 100px;
    left: 10px;
    width: 200px;
    height: 300px;
    background-color: #DDDDDD;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja2 {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 200px;
    left: 245px;
    width: 160px;
    height: 250px;
    background-color: #DDDDDD;
}
.caja3 {
    position: absolute;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 325px;
    left: 450px;
    width: 200px;
    height: 120px;
    background-color: #DDDDDD;
}
.bloquesOnline p {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 245px;
    width: 400px;
    height: 200px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 200;
}
/* Estilos para sección 5 newsletter */
#newsletter {
    text-align: center;
    left: 300px;
    background-color: #030303;
}
#newsletter p {
    color: #fff;
    background-color: #030303;
    text-align: center;
    margin-bottom: 40px;
}
.botonletter {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    gap: 20px;
    position: relative;
    width: 140px;
    height: 40px;
    left: 500px;
    top: -20px;
    background: #8F00FF;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    color: #FCFCFF;
    align-items: center;
    right:70px;
}
.botonletter a{
    left: 20px;
}
/* Estilos para el footer */
footer {
    background-color: black;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-columna {
    width: 20%;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #030303;
}
.footer-columna h3 {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #030303;
    color: white;
}
.redes-sociales {
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    margin-right: 10px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.redes-sociales img {
    width: 30px;
    height: 30px;
}
footer a {
    text-decoration: none;
    color: gray;
    font-weight: 200;
}
/* Estilos para Contacto */
#bannercontacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../imagenes/imgcontacto.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
#formulario-contacto {
    background-color: #28112B;
    color: #fff;
    padding: 50px;
    text-align: center;
}
#formulario-contacto h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
#formulario-contacto p {
    font-size: 18px;
    margin-bottom: 30px;
}
form {
    max-width: 600px;
    margin: 0 auto;
}
.campo {
    margin-bottom: 20px;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #8F00FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #6A0080;
}
/* Landing juegos online */
.juegos-online {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;
}
.juego {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.juego img {
    max-width: 100%;
    border-radius: 8px;
}
.juego h2 {
    margin-top: 10px;
}
.juego p {
    color: #555;
}
.juego a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* Landing zona descarga */
#zonaDescarga {
    top: -400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-container {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 20px;
    height: 300px;
}
.game {
    background-color: #ececec;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}
.text-content {
    margin-bottom: 10px;
}
.game h2 {
    margin-bottom: 45px;
}
.game img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.download-button:hover {
    background-color: #0056b3;
}
.dropdownContainer {
    position: absolute;
    top: 25px;
    left: 0;
}
.dropdown {
    position: relative;
}
/* MEDIA QUERIES */
/* BANNER MOBILE */
@media (max-width: 767px) {
    #hero {
        height: 300px;
        background-size: 500px;
        opacity: 0.7;
        overflow: hidden;
   }
    #hero h1 {
        font-size: 22px;
       /* ajustar según necesidad */
        margin-top: 40px;
       /* ajustar según necesidad */
        text-align: justify;
        margin: 20px;
        margin-top: 50px;
   }
    #hero a {
        height: 40px;
       /* ajustar según necesidad */
        top: 220px;
       /* ajustar según necesidad */
        font-size: 14px;
       /* ajustar según necesidad */
        position: static;
        margin: 40px;
   }
}
/* Media queries para escritorio */
@media (min-width: 768px) and (max-width: 1023px) {
    #hero {
        height: 500px;
   }
    #hero h1 {
        font-size: 40px;
        margin-top: 80px;
   }
    #hero a {
        width: 120px;
        height: 50px;
        left: 100px;
        top: 320px;
        font-size: 16px;
   }
}
/* Media queries para sección 1 > CategoríasHome */
@media only screen and (max-width: 768px) {
   /* Mobile */
    #categoriasHome h2 {
        font-size: 22px;
   }
    .contenedor-categorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 30px 0;
   }
    .categoria1, .categoria2, .categoria3, .categoria4 {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
   }
}
/* Media queries para sección 2 > Guía de videojuegos */
/* Estilos para mobile */
@media screen and (max-width: 768px) {
    #guiaVideojuegos {
        flex-direction: column;
        align-items: center;
   }
    #guiaVideojuegos .contenedor-imagen {
        margin-left: 0;
        margin-top: 10px;
        max-width: 80%;
   }
}
.imagen-responsiva {
    width: 450px;
}
/* Media queries para sección 3 > Juegos recomendados */
@media (max-width: 767px) {
    #juegosRecomendados .item {
        background-color: #2b072b;
        border: 1px solid #8F00FF;
        border-radius: 12px;
        box-shadow: 0px 4px 24px rgba(0, 51, 153, 0.16);
        border-radius: 16px;
        filter: drop-shadow(0px 4px 24px rgba(0, 51, 153, 0.16));
        background-blend-mode: multiply;
   }
    .item img {
        width: 140px !important;
        height: 120px !important;
   }
    #juegosRecomendados .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
        padding: 50px;
        position: relative;
        right: 70px;
   }
    .corazoncito {
        position: relative;
        top: -40px;
        left: 38px;
        z-index: 1;
   }
    .corazoncito svg {
        width: 20px;
       /* Ajusta el ancho del SVG */
        height: 20px;
       /* Ajusta la altura del SVG */
   }
}
/* Media queries para sección 4 del Home > Juegos Online */
/* Estilos para movil */
@media screen and (max-width: 768px) {
    #juegosOnline {
        margin: 50px auto;
        max-width: 90%;
   }
}
@media (max-width: 768px) {
    #juegosOnline h2 {
        max-width: 90%;
        margin-top: -20px;
   }
    .caja1 {
        width: 100px;
        height: 140px;
   }
    .caja2 {
        left: 127px;
        width: 98px;
        height: 120px;
   }
    .caja3 {
        left: 237px;
        width: 110px;
        height: 90px;
   }
}
/* Media queries para sección 5 del Home > Newsletter y footer */
/* Estilos para móvil */
@media screen and (max-width: 768px) {
    #newsletter {
        left: 0;
        background-color: #030303;
        height: 200px;
   }
    .botonletter {
        left: 0;
       /* Reiniciar la posición izquierda */
        top: -28px;
       /* Reiniciar la posición superior */
        margin: 20px auto;
       /* Centrar horizontalmente */
   }
    .footer-columna {
        width: 50%;
       /* Reducir el ancho de las columnas en el footer */
   }
    body {
        overflow-x: hidden;
   }
}
